Conceitos-Node/node_modules

Conceitos-React/node_modules
Conceitos-React/.pnp
Conceitos-React/.pnp.js
Conceitos-React/coverage
Conceitos-React/build
Conceitos-React/.DS_Store
Conceitos-React/.env.local
Conceitos-React/.env.development.local
Conceitos-React/.env.test.local
Conceitos-React/.env.production.local
Conceitos-React/npm-debug.log*
Conceitos-React/yarn-debug.log*
Conceitos-React/yarn-error.log*

Github-React/node_modules
Github-React/.pnp
Github-React/.pnp.js
Github-React/coverage
Github-React/build
Github-React/.DS_Store
Github-React/.env.local
Github-React/.env.development.local
Github-React/.env.test.local
Github-React/.env.production.local
Github-React/npm-debug.log*
Github-React/yarn-debug.log*
Github-React/yarn-error.log*

Series-API-Node/node_modules

Series-WEB-React/node_modules
Series-WEB-React/.pnp
Series-WEB-React/.pnp.js
Series-WEB-React/coverage
Series-WEB-React/build
Series-WEB-React/.DS_Store
Series-WEB-React/.env.local
Series-WEB-React/.env.development.local
Series-WEB-React/.env.test.local
Series-WEB-React/.env.production.local
Series-WEB-React/npm-debug.log*
Series-WEB-React/yarn-debug.log*
Series-WEB-React/yarn-error.log*