.card-serie{
    max-width: 320px;
    min-width: 290px;
    margin: 10px;
}
.card-body{
    display: flex;
    justify-content: center;
}
.card-serie .card-footer{
    padding: 8px;
    font-size: 12px;
}

.card-body-flex{
    display: flex;
    flex-wrap: wrap;
}

.card-serie .btn{
    float:right;
}
